<div class="container">
  <div class="container">
    <h1 class="text-center mb-title">{{@model.title}}</h1>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h5>Parental Rating</h5>
      <p>{{@model.parental_rating}}</p>
    </li>

    <li class="list-group-item">
      <h5>Release Date</h5>
      <p>{{@model.release_date}}</p>
    </li>

     <li class="list-group-item">
      <h5>Genre</h5>
      <p>{{@model.genre}}</p>
    </li>

     <li class="list-group-item">
      <h5>Rating</h5>
      <p>{{@model.rating}}</p>
    </li>

     <li class="list-group-item">
      <h5>Plot</h5>
      <p>{{@model.plot}}</p>
    </li>

  </ul>
</div>
